
tr{

  height: 100px;
}
table, th, td{
  
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

td{
  width:100px;
  text-align:center;
  size: 50px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 50px;
  transition: 1s ease-out;
  opacity: 1;
}
td:hover{
  background-color:  red;
  opacity: .2;
  
}
.connect{
  background-color: greenyellow;
  transition: 0s ease-in-out;
}
#header1{
  font-size: 50px;
  float: left;
}
#header2{
  font-size: 50px;
  float: right;
}
#XCounter{
  font-size: 100px;
  float: left;
}
#OCounter{
  font-size: 100px;
  float: right;
}
#prompt{
  margin: auto;
  margin-left: 550px;
  width: 500px;
  font-size: 50px;
}
#Restart{
  position: absolute;
  margin-top: 250px;
  margin-left: 680px;
  width: 100px;
  height: 100px;
}
#playerX{
  position: absolute;
  margin-top: 100px;
  margin-left: 350px;
  width: 100px;
  height: 100px;

}
#playerO{
  position: absolute;
  margin-top: 100px;
  margin-left: 560px;
  width: 100px;
  height: 100px;
}
#twoPlayers{
  position: absolute;
  margin-top: 250px;
  margin-left: 455px;
  width: 100px;
  height: 100px;
}